<a href="https://colab.research.google.com/github/detayans/Linear-Regression-Project/blob/main/Project_linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Project Summary.
#Trip duration is the most fundamental measure in all modes of transportation. 
#Hence, it is crucial to predict the trip-time precisely for the advancement of 
#Intelligent Transport Systems (ITS) and traveller information systems.
#In order to predict the trip duration, data mining techniques are employed in 
#this project to predict the trip duration of rental bikes in Seoul Bike 
#sharing system. The prediction is carried out with the combination of 
#Seoul Bike data and weather data.

#Please use the Seoul Bike dataset.
#What are the factors that influence the number of bikes rented?
#Explore the data for outliers and missing values.
#Plot the correlation between the variables and state your comments
#Please build a linear regression model to predict rented bike count 
#by choosing appropriate independentvariables.
#Coment on Model performance by using approapriate diagnostics and measures.
#Good Luck!

##Importing Required Libraries

In [10]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style='white', color_codes=True)

## Reading the Dataset

In [11]:
SeoulBike = pd.read_csv("/content/SeoulBikeData.csv")

In [12]:
#Printing Dimension of datasets
print("Dimension of SeoulBike dataset", SeoulBike.shape)

Dimension of SeoulBike dataset (8760, 14)

In [13]:
# Showing overview of the train dataset
SeoulBike.head()

         Date  Rented Bike Count  Hour  ...  Seasons     Holiday  Functioning Day
0  01/12/2017                254     0  ...   Winter  No Holiday              Yes
1  01/12/2017                204     1  ...   Winter  No Holiday              Yes
2  01/12/2017                173     2  ...   Winter  No Holiday              Yes
3  01/12/2017                107     3  ...   Winter  No Holiday              Yes
4  01/12/2017                 78     4  ...   Winter  No Holiday              Yes

[5 rows x 14 columns]

## Considering only numerical data

In [14]:
# Extracting dataframe for only 'number' datatypes
df = SeoulBike.select_dtypes(include=['float64','int64'])
df.head()

   Rented Bike Count  Hour  ...  Rainfall(mm)  Snowfall (cm)
0                254     0  ...           0.0            0.0
1                204     1  ...           0.0            0.0
2                173     2  ...           0.0            0.0
3                107     3  ...           0.0            0.0
4                 78     4  ...           0.0            0.0

[5 rows x 10 columns]

## EDA

In [15]:
# Showing datatypes of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rented Bike Count         8760 non-null   int64
 1   Hour                      8760 non-null   int64
 2   Temperature(C)            8760 non-null   float64
 3   Humidity(%)               8760 non-null   int64
 4   Wind speed (m/s)          8760 non-null   float64
 5   Visibility (10m)          8760 non-null   int64
 6   Dew point temperature(C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)   8760 non-null   float64
 8   Rainfall(mm)              8760 non-null   float64
 9   Snowfall (cm)             8760 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 684.5 KB

In [16]:
# getting discriptive statistcs on "number" datatypes
df.describe()

       Rented Bike Count         Hour  ...  Rainfall(mm)  Snowfall (cm)
count        8760.000000  8760.000000  ...   8760.000000    8760.000000
mean          704.602055    11.500000  ...      0.148687       0.075068
std           644.997468     6.922582  ...      1.128193       0.436746
min             0.000000     0.000000  ...      0.000000       0.000000
25%           191.000000     5.750000  ...      0.000000       0.000000
50%           504.500000    11.500000  ...      0.000000       0.000000
75%          1065.250000    17.250000  ...      0.000000       0.000000
max          3556.000000    23.000000  ...     35.000000       8.800000

[8 rows x 10 columns]

## Working On missing values

In [17]:
#Identifing missing Values
miss_val = df.isna().sum()
miss_val

Rented Bike Count           0
Hour                        0
Temperature(C)              0
Humidity(%)                 0
Wind speed (m/s)            0
Visibility (10m)            0
Dew point temperature(C)    0
Solar Radiation (MJ/m2)     0
Rainfall(mm)                0
Snowfall (cm)               0
dtype: int64

## Correlation of output with input

In [18]:
corr_data = df.corr()
corr_data

                          Rented Bike Count  ...  Snowfall (cm)
Rented Bike Count                  1.000000  ...      -0.141804
Hour                               0.410257  ...      -0.021516
Temperature(C)                     0.538558  ...      -0.218405
Humidity(%)                       -0.199780  ...       0.108183
Wind speed (m/s)                   0.121108  ...      -0.003554
Visibility (10m)                   0.199280  ...      -0.121695
Dew point temperature(C)           0.379788  ...      -0.150887
Solar Radiation (MJ/m2)            0.261837  ...      -0.072301
Rainfall(mm)                      -0.123074  ...       0.008500
Snowfall (cm)                     -0.141804  ...       1.000000

[10 rows x 10 columns]

## Preparing data for model building

In [19]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

## Training and testing of model

In [32]:
reporting={}
X_LinearRegression=df.drop(['Rented Bike Count'],axis =1)
y=df['Rented Bike Count']
X_train,X_test,y_train,y_test=train_test_split(X_LinearRegression,y,test_size=0.20)

In [33]:
X_LinearRegression.head()

   Hour  Temperature(C)  ...  Rainfall(mm)  Snowfall (cm)
0     0            -5.2  ...           0.0            0.0
1     1            -5.5  ...           0.0            0.0
2     2            -6.0  ...           0.0            0.0
3     3            -6.2  ...           0.0            0.0
4     4            -6.0  ...           0.0            0.0

[5 rows x 9 columns]

In [34]:
y.head()

0    254
1    204
2    173
3    107
4     78
Name: Rented Bike Count, dtype: int64

In [35]:
regr = linear_model.LinearRegression()
fitregr=regr.fit(X_train, y_train)
predregrtrain=fitregr.predict(X_train)
predregrtest=fitregr.predict(X_test)

In [36]:
print('Linear model intercept: {} and the coefficients are: {}'
     .format(fitregr.intercept_,fitregr.coef_))

Linear model intercept: 542.5536680986282 and the coefficients are: [ 2.73377973e+01  2.76359410e+01 -8.73371997e+00  3.75884988e+00
  2.17321777e-02  4.42246520e+00 -8.27265347e+01 -5.57148710e+01
  2.32500136e+01]

## Accuracy Score of Linear  Regression model

In [37]:
train_set_r2 = r2_score(y_train, predregrtrain)
print('Linear model, R2 train score is : {}'.format(train_set_r2))
test_set_r2 = r2_score(y_test, predregrtest)
print('Linear model, R2 test score is : {}'.format(test_set_r2))

Linear model, R2 train score is : 0.469764055379276
Linear model, R2 test score is : 0.47343292899703915